/* 
++++++++++
Debug
++++++++++
*/

header.debug {
    height: 50px;
    background-color: #FF6901;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.debug img {
    width: 140px;
}

/* 
**************
Reset Default
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
-----------
Main
-----------
*/

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: red;
}

.card {
    width: calc(100%/3);
}

.card__item {
    position: relative;
}

.card__item__favorite {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #ffffff;
    padding: 8px 10px;
    font-size: 19px;
}

.card__item__tag {}

.card__item__images img {
    width: 100%;
    display: block;
}

.card__item__image:hover {}