/* 
++++++++++
Debug
++++++++++
*/

header.debug {
    height: 50px;
    background-color: #FF6901;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.debug img {
    width: 140px;
}

/* 
**************
Reset Default
**************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* 
-----------
Main
-----------
*/

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: red;
}

.card {
    width: calc(100%/3);
}

.card__item {
    position: relative;
}

.card__item__favorite {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #ffffff;
    padding: 8px 10px;
    font-size: 19px;
    z-index: 1;
}

.card__item__tag {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    display: flex;
    gap: 5px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    z-index: 1;
}

.card__item__tag>* {
    padding: 5px 10px;
}

.card__item__tag--sale {
    background-color: #FF0000;
}

.card__item__tag--eco {
    background-color: #008000;
}

.card__item__images {}


.card__item__images img {
    width: 100%;
    display: block;
}

.card__item__image--hover {
    position: absolute;
    top: 0;
    opacity: 0;
}


.card__item__image--hover:hover {
    opacity: 1;
    transition: .2s ease;
}